{% extends 'productos/productos.html' %}

{% block paginado %}
<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <ul class="pagination pagination-lg">
      {#-----------flecha izquierda--------------#}
      {% if n == 1 %}
      <li class="page-item disabled">
        <a class="page-link" href="">&laquo;</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('dashboard.productos', n=n-1) }}">&laquo;</a>
      </li>
      {% endif %}
      {# -----ciclo for izquierdo------------ #}
      {% if n < 5 %}
        {% for i in range(1, n, 1)%}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('dashboard.productos', n=i) }}">{{i}}</a>
          </li>
        {% endfor %}
      {% else %}
        {% for i in range(1, 5, 1)%}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('dashboard.productos', n=i) }}">{{i}}</a>
          </li>
        {% endfor %}
      {% endif %}
      {#------ parte central----------#}
      {% if n != 1 %}
      <a class="page-link">...</a>
      {% endif %}
      <li class="page-item active">
        <a class="page-link">{{n}}</a>
      </li>
      {% if n != paginas+1 %}
      <a class="page-link">...</a>
      {% endif %}
      {# --------ciclo for derecho--------- #}
      {% if n > paginas-4 %}
        {% for i in range(n+1, paginas+2, 1)%}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('dashboard.productos', n=i) }}">{{i}}</a>
          </li>
        {% endfor %}
      {% else %}
        {% for i in range(paginas-2, paginas+2, 1)%}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('dashboard.productos', n=i) }}">{{i}}</a>
          </li>
        {% endfor %}
      {% endif %}
      {#-------flecha derecha---------#}
      {% if n == paginas+1 %}
      <li class="page-item disabled">
        <a class="page-link" href="">&raquo;</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('dashboard.productos', n=n+1) }}">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
