{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}
{% block script %}<script defer type="text/javascript" src="{{ url_for('static', filename='scripts/inventario.js') }}"></script>{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 d-flex flex-row justify-content-between">
    <h2>Consulta de inventario</h2>
    <div class="">
      <button type="button" class="btn btn-primary"><a href="{{ url_for('dashboard.nuevaEntrada')}}" class="text-light">Nueva entrada</a></button>
      <button type="button" class="btn btn-primary">Nueva salida</button>
    </div>
  </div>
  <div id="menu" class="card row mt-2 d-flex justify-content-center pb-2">
    <p>Tipo de reporte</p>
    <div class="tabs">
      <button type="button" class="btn" data-tab="entradas" id="btn1">Entradas</button>
      <button type="button" class="btn" data-tab="salidas">Salidas</button>
      <button type="button" class="btn" data-tab="fisico">Físico</button>
    </div>
    <div class="tab card mt-2" id="entradas">
      <form action="{{ url_for('dashboard.inventario') }}" method="POST" id="form-entradas">
        <fieldset>
          <legend>Entradas</legend>
          <small class="form-text text-muted">Fecha de pedimiento</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="pedi">
            <input type="date" class="form-control" id="pedi-ini" name="pedi-ini">
            <span>A</span>
            <input type="date" class="form-control" id="pedi-fin" name="pedi-fin">
          </div>
          <small class="form-text text-muted">Fecha de entrada</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="ent">
            <input type="date" class="form-control" id="ent-ini" name="ent-ini">
            <span>A</span>
            <input type="date" class="form-control" id="ent-fin" name="ent-fin">
          </div>
          <small class="form-text text-muted">Productos</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="pdts">
            <select class="form-select" id="pdts-sel" name="pdts-sel">
              <option></option>
              {% for p in productos %}
              <option value="{{ p.id }}">{{ p.clave }}</option>
              {% endfor %}
            </select>
          </div>
          <small class="form-text text-muted">Usuarios</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="usrs">
            <select class="form-select" id="usrs-sel" name="usrs-sel">
              <option></option>
              {% for u in usuarios %}
              <option value="{{ u.id }}">{{ u.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </fieldset>
      </form>
    </div>
    <div class="tab card mt-2" id="salidas">
      <form action="{{ url_for('dashboard.inventario') }}" method="POST" id="form-salidas">
        <fieldset>
          <legend>Entradas</legend>
          <small class="form-text text-muted">Fecha de salida</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="ent">
            <input type="date" class="form-control" id="sal-ini" name="sal-ini">
            <span>A</span>
            <input type="date" class="form-control" id="sal-fin" name="sal-fin">
          </div>
          <small class="form-text text-muted">Productos</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="pdts">
            <select class="form-select" id="pdts-sel" name="pdts-sel">
              <option></option>
              {% for p in productos %}
              <option value="{{ p.id }}">{{ p.clave }}</option>
              {% endfor %}
            </select>
          </div>
          <small class="form-text text-muted">Usuarios</small>
          <div class="form-group d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="usrs">
            <select class="form-select" id="usrs-sel" name="usrs-sel">
              <option></option>
              {% for u in usuarios %}
              <option value="{{ u.id }}">{{ u.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </fieldset>
      </form>
    </div>
    <div class="tab card mt-2" id="fisico">
      <p>seccion 3</p>
    </div>
  </div>
{% endblock %}
