{% extends 'base.html' %}

{% block title %}
Nueva Cotizacion
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-8">
    <h2>Nueva cotizacion</h2>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button type="button" class="btn btn-primary"><a href="{{ url_for('dashboard.cotizaciones') }}" class="text-light">Regresar</a></button>
  </div>
</div>
<!-- --------------------------------------------- -->
<div class="card card-body col-10 mx-auto">
  <legend>Datos generales</legend>
  <form action="{{ url_for('dashboard.nuevaCotizacion') }}" method="POST">
    <fieldset>
      <div class="form-group">
        <label class="form-label mt-4">Marca</label>
        <select class="form-select" name="marcaId">
          <option></option>
          {% for m in contexto['marcas'] %}
          <option value="{{m.id}}">{{m.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="form-label mt-4">Moneda</label>
        <select class="form-select" name="moneda">
          <option></option>
          <option value="MXN">Peso</option>
          <option value="USD">Dolar</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label mt-4">Mercado</label>
        <select class="form-select" name="mercadoId">
          <option></option>
          {% for m in contexto['mercados'] %}
          <option value="{{m.id}}">{{m.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Version</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" placeholder="Version" value="1" disabled>
        </div>
      </div>
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Enviar</button>
    </fieldset>
  </form>
</div>
{% endblock %}
