{% extends 'base.html' %}

{% block title %}
Editar Producto
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-8">
    <h2>Editar: {{producto.clave}}</h2>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <button type="button" class="btn btn-primary"><a href="/productos/pag/1/" class="text-light">Regresar</a></button>
  </div>
</div>
<div class="card card-body col-10 mx-auto">
  <form action="/edit_pdt/{{id}}" method="POST">
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Clave</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" name="clave" value="{{producto.clave}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Modelo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" name="modelo" value="{{producto.modelo}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Precio compra</label>
        <div class="col-sm-10">
          <input type="number" class="form-control-plaintext" name="precioCompra" value="{{producto.precioCompra}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Precio venta MXN</label>
        <div class="col-sm-10">
          <input type="number" class="form-control-plaintext" name="precioVentaMXN" value="{{producto.precioVentaMXN}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Precio venta USD</label>
        <div class="col-sm-10">
          <input type="number" class="form-control-plaintext" name="precioVentaUSD" value="{{producto.precioVentaUSD}}">
        </div>
      </div>
      <div class="form-group row">
        <label class="form-label mt-4">Descuento</label>
        <select class="form-select" name="descuento">
          <option value="{{producto.descuento}}">{{producto.descuento}}</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>
      <div class="form-group row">
        <label class="form-label mt-4">Marca</label>
        <select class="form-select" name="marca">
          <option value="{{producto.marca}}">{{producto.marca}}</option>
          {% for m in marcas%}
          <option value="{{m.nombre}}">{{m.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="form-label mt-4">Descripcion</label>
        <textarea class="form-control" name="descripcion" rows="3" style="height: 95px;">{{producto.descripcion}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </fieldset>
  </form>
</div>
{% endblock %}
