<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    {% block style %}{% endblock %}
    <script defer type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.bundle.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %} - crm</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">RM2</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link active" href="{{ url_for('dashboard.cotizaciones') }}">Cotizaciones</a></li>
              <li class="nav-item"><a class="nav-link active" href="{{ url_for('dashboard.inventario') }}">Inventario</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tablas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{ url_for('dashboard.clientes', n=1) }}">Clientes</a>
                  <a class="dropdown-item" href="{{ url_for('dashboard.productos', n=1) }}">Productos</a>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('dashboard.usuarios') }}">Usuarios</a>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container mt-2 mb-1">
        {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>
